/* Main */
/* Footer */
.footer {

    background: linear-gradient(135deg,#187de3,#ffffff);
    padding: 20px 0;
    text-align: center;
    color:aliceblue
}
.footer-left {
    text-align: left;
}
.footer-right {
    text-align: right;
}
.footer-logo {
    max-width: 300px; 
    height: auto;
}       
/* Main End */        

.custom-bg-color {
    background: linear-gradient(135deg,#187de3,#ffffff) !important; /* !important to override default Bootstrap style */
}




/* Login */
.login-page {
    background-image: url("{{ url_for('static', filename='img/skybg.png') }}"); 
    background-position: center;
}
    

.custom-mt-5 {
    margin-top: 12rem; 
}

.card {
    border: 0;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
}
.form-control {
    border-radius: 20px; /* Rounding the corners of input fields */
    background-color: rgba(255, 255, 255, 0.3); /* Transparent white color */
    backdrop-filter: blur(2px); /*  blur to the input field */
}
.btn-login {/* button */
    border-radius: 20px; /* Round the corners of the button */
    width: 150px; 
}
.form-label {
    font-size: large;
    color: white;
}      
.custom-alert {
    position: fixed; /* Fixed position */
    top: 200px; /* Distance from the top of the viewport */
    right: 80px; /* Distance from the right of the viewport */
    width: 270px; /* Width of the alert box */
    border-radius: 10px; /* Rounded corners */
    background-color: #0d6ef3 ; 
    color: #ffffff; /* White text color */
    border-color: #0c69f3 ; 
    padding: 10px; /* Padding around the alert */
    font-size: 16px; 
    font-weight: bold;
    z-index: 1050; /* Ensure alert is above other content */
}
.custom-alert .btn-close {
    color: #fff;  /* White color for the close button */
}
/* Login End */  
    




/* Signup */
.signup-page{
    background-image: url('img/skybg.png'); 
    background-position: center;
}
.btn-signup { /* кнопка */
    border-radius: 20px; 
    width: 150px; 
}      
/* Signup End */  

.custom-color{
    color: #234B99 ;
}
.custom-color2{
    color: #012368 ; 
}

.sensor-info {
    display: inline-block; /* To display items in a single line */
    background-color: #f0f0f0; /* Field background color */
    padding: 10px; /* Indents around text */
    margin: 5px; /* External indentation between elements */
    border-radius: 5px; /* Rounded field corners */
}

/* verify page */
.custom-color2 .increase-text-size {
    font-size: 1.2em; 
}
.custom-card-opacity {
    border: 0;
    background-color: rgba(255, 255, 255, 0.5); /* Decrease the transparency of the map */
    backdrop-filter: blur(5px);
}
/* verify page end */



.card {
    width: 100%;
    max-width: 450;
    background: linear-gradient(135deg,#187de3,#ffffff);
    color: #fff;
    border-radius: 20px;
    padding: 30px 25px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
        border: 0;
        outline: 0;
        background:#ebfffc;
        color: #555;
        padding: 10px,20px;
        height: 40px;
        border-radius: 20px;
        flex:1;
        margin-right: 10px;
        font-size: 14px;
        align-items: center;
}

.search button{
        border: 0;
        outline: 0;
        background: #ebfffc;
        border-radius: 40%;
        width: 50px;
        height: 40px;
        cursor: pointer;
}

.search button img{
        width: 20px;

}
.weather-icon{
        width: 120px;
        margin-top: 20px;
}

.weather h1{
        font-size: 60px;
        font-weight: 400;
        color: #fff;
}

.weather h2{
        font-size: 30px;
        font-weight: 300;
        color: #fff;
        margin-top: -10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:0 10px;
    margin-top: 40px;
    color:#fff;
    font-size: 17px;
    font-weight: 200;
}

.details .col {
        flex: 1; /* Distribute available space equally between columns */
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

 .col img{
        width: 60px;
        margin-right: 10px;
        flex-shrink: 0;
    }

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}


.card-title{
        color:#fff;
}

.sensor-data, .sensor-info{
    background-color: transparent;
    color: #fff;
}


/* side nav bar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* on other lements */
    width: 45px;
    padding: 48px 0 0; /* top padding  */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* shadow */
}

.sidebar .nav-link {
    color: #fff; /* Цвет ссылок */
}

/* adapt side bar */
@media (min-width: 768px) {
    .sidebar {
        width: 230px; /* width on big screen */
    }
}

@media (max-width: 767.98px) {
    .sidebar {
        width: 72px; /* width on small screen */
    }

    .sidebar .navbar-brand img {
        width: 100px; /* degris logo size for small screen */
    }

}

