/*Main*/
body {
    background-color: #1b1f24;
    font-family: 'Nova Square', sans-serif;
}

.main_header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: cornflowerblue;
    width: 100%;
    height: 100px;
}

.main_logoImg{
    width: 100px;
    height: 100px;
}

.main_logo {
    background-color: #223045;
    width: 100px;
    height: 100px;
    margin: auto;
}

.main_menu {
    position: relative;
    background-color: #223045;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_menuImg {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.main_menuOptions {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 120px;
    background-color: #223045;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.main_menu:hover .main_menuOptions {
    display: flex;
    flex-direction: column;
}

.main_menuOptions a {
    color: white;
    text-decoration: none;
    padding: 5px;
    transition: background-color 0.3s ease;
}

.main_menuOptions a:hover {
    background-color: #1a4282;
}

.main_main {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    min-height: calc(100vh - 100px); /* Subtract the header height */
    padding: 20px 0;
    background-color: #1a4282;
}

.main_container {
    background-color: #ffffff;
    width: 80%;
    max-width: 600px;
    margin: 20px auto; /* Margin top should be enough to not hide behind the header */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto; /* Allows scrolling within the container */
    max-height: 80vh; /* Sets a maximum height to prevent it from getting too tall */
}

.info_paragraph {
    text-align: center; /* Center the text */
    color: white; /* If your text is light colored */
    padding: 20px; /* Add some padding */
    background-color: #2b3a52; /* Or any other color that fits your design */
    margin: 40px 0; /* Add some top and bottom margin */
    border-radius: 8px; /* Optional: if you want rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: if you want some shadow for depth */
}

/*Signup*/
.signup_header {
    display: flex;
    align-items: center;
    position: relative;
    background-color: cornflowerblue;
    width: 100%;
    height: 100px;
}

.signup_home {
    width: 100px;
    height: 100px;
}

.signup_homeBut {
    width: 100px;
    height: 100px;
}

.signup_homeImg {
    width: 100px;
    height: 100px;
}

.signup_main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 800px;
    background-color: #1a4282;
}

.signup_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.signup_logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.signup_signup-container {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin-bottom: 20px;
}

.signup_signup-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
}

button {
    padding: 12px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    align-self: center;
}


/*Login*/
.login_header {
    display: flex;
    align-items: center;
    position: relative;
    background-color: cornflowerblue;
    width: 100%;
    height: 100px;
}

.login_home{
    width: 100px;
    height: 100px;
}
.login_homeBut{
    width: 100px;
    height: 100px;
}
.login_homeImg{
    width: 100px;
    height: 100px;
}

.login_main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 800px;
    background-color: #1a4282;
}

.login_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login_logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.login_login-container {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin-bottom: 20px;
}

.login_login-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
}

button {
    padding: 12px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    align-self: center;
}

/* Sensor Page Specific Styles */
.sensor_header {
    display: flex;
    align-items: center;
    position: relative;
    background-color: cornflowerblue;
    width: 100%;
    height: 100px;
}

.sensor_main {
    width: 80%; /* Adjust the width as needed */
    max-width: 600px; /* Or whatever maximum width you prefer */
    margin-top: 120px; /* Push down from fixed header */
    padding: 20px;
    box-sizing: border-box;
    background-color: #223045; /* Dark blue background for contrast */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}

#messages {
    background-color: white; /* For readability */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px; /* Consistency in width with other pages */
    margin: 20px 0; /* Spacing from the header */
    text-align: center; /* Center-align the text */
}

#messages p {
    background-color: #2b3a52; /* Slightly lighter blue for paragraph */
    color: #ffffff; /* White text for readability */
    padding: 10px; /* Padding inside paragraphs */
    margin: 10px 0; /* Margin between paragraphs */
    border-radius: 4px; /* Rounded corners for paragraphs */
    font-size: 0.9rem; /* Adjust the font size as needed */
    line-height: 1.4; /* Line height for better readability */
    word-wrap: break-word; /* Ensure long text wraps */
}

.sensor_home{
    width: 100px;
    height: 100px;
    position: absolute;
    float: left;
}

.sensor_homeBut{
    width: 100px;
    height: 100px;
    float: left;
}

.sensor_homeImg{
    width: 100px;
    height: 100px;
    float: left;
}

.sensor_main h1 {
    color: #ffffff;
    text-align: center;
    padding-top: 20px; /* Additional padding to push it below the fixed header */
    margin-bottom: 20px; /* Space below the header text */
}