/* Main */
/* Footer */
.footer {

    background-color: #212529;
    padding: 20px 0;
    text-align: center;
    color:aliceblue
}
.footer-left {
    text-align: left;
}
.footer-right {
    text-align: right;
}
.footer-logo {
    max-width: 300px; 
    height: auto;
}       
/* Main End */        






/* Login */
.login-page {
    background-image: url("{{ url_for('static', filename='img/skybg.png') }}"); 
    background-position: center;
}
    

.custom-mt-5 {
    margin-top: 12rem; 
}

.card {
    border: 0;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
}
.form-control {
    border-radius: 20px; /* Закругляем углы полей для ввода */
    background-color: rgba(255, 255, 255, 0.3); /* Прозрачный белый цвет */
    backdrop-filter: blur(2px); /*  размытие к полю для ввода */
}
.btn-login {/* кнопка */
    border-radius: 20px; /* Закругляем углы кнопки */
    width: 150px; 
}
.form-label {
    font-size: large;
}      
.custom-alert {
    position: fixed; /* Fixed position */
    top: 200px; /* Distance from the top of the viewport */
    right: 80px; /* Distance from the right of the viewport */
    width: 270px; /* Width of the alert box */
    border-radius: 10px; /* Rounded corners */
    background-color: #0d6ef3 ; 
    color: #ffffff; /* White text color */
    border-color: #0c69f3 ; 
    padding: 10px; /* Padding around the alert */
    font-size: 16px; 
    font-weight: bold;
    z-index: 1050; /* Ensure alert is above other content */
}
.custom-alert .btn-close {
    color: #fff;  /* White color for the close button */
}
/* Login End */  
    




/* Signup */
.signup-page{
    background-image: url('img/skybg.png'); 
    background-position: center;
}
.btn-signup { /* кнопка */
    border-radius: 20px; 
    width: 150px; 
}      
/* Signup End */  

.custom-color{
    color: #234B99 ;
}
.custom-color2{
    color: #012368 ; 
}


/* Sensor Page Specific Styles 
#messages {
    background-color: white; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px; 
    margin: 20px 0; 
    text-align: center; 
}

#messages p {
    background-color: #2b3a52; 
    color: #ffffff; 
    padding: 10px; 
    margin: 10px 0; 
    border-radius: 4px; 
    font-size: 0.9rem; 
    line-height: 1.4; 
    word-wrap: break-word; 
}
*/

.sensor-info {
    display: inline-block; /* Для отображения элементов в одной линии */
    background-color: #f0f0f0; /* Цвет фона поля */
    padding: 10px; /* Отступы вокруг текста */
    margin: 5px; /* Внешний отступ между элементами */
    border-radius: 5px; /* Закругленные углы поля */
}

/* verify page */
.custom-color2 .increase-text-size {
    font-size: 1.2em; /* Выберите размер, который подходит вам */
}
.custom-card-opacity {
    border: 0;
    background-color: rgba(255, 255, 255, 0.5); /* Уменьшаем прозрачность карты */
    backdrop-filter: blur(5px);
}
/* verify page end */