body {
    background-color: #1b1f24;
    font-family: 'Nova Square', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    position: relative;
    background-color: cornflowerblue;
    width: 100%;
    height: 100px;
}

.home{
<!-- background-color:;  -->
    width: 100px;
    height: 100px;
}
.homeBut{
    width: 100px;
    height: 100px;
}
.homeImg{
    width: 100px;
    height: 100px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 800px;
    background-color: #1a4282;
}

.container {
    background-color: ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.login-container {
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin-bottom: 20px;
}

.login-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
}

button {
    padding: 12px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    align-self: center;
}