<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nova+Square&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Styles.css')}}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<script type="module">
    // Import the functions you need from the SDKs you need - Morris js
    import { initializeApp } from "https://www.gstatic.com/firebasejs/10.10.0/firebase-app.js";
    import { getDatabase, ref, get } from "https://www.gstatic.com/firebasejs/10.10.0/firebase-database.js";
   

    const firebaseConfig = { //Configuration to be able to retrieve from the database 
        
        apiKey: "AIzaSyCVDRhmU_ps8O0GNI9FjqmR6oh67ariS3s",
        authDomain: "eirq-solutions.firebaseapp.com",
        databaseURL: "https://eirq-solutions-default-rtdb.europe-west1.firebasedatabase.app",
        projectId: "eirq-solutions",
        storageBucket: "eirq-solutions.appspot.com",
        messagingSenderId: "931290153741",
        appId: "1:931290153741:web:d8edcb6428ff83a5352644",
        measurementId: "G-KRKNJRRQMY"
    };
  
    // Initialise Firebase
        const app = initializeApp(firebaseConfig);
        const database = getDatabase(app);
        const firebaseRef = ref(database, 'air_quality');

        // Function to fetch data from Firebase and update the chart
        function fetchDataAndUpdateChart() {
            get(firebaseRef).then((snapshot)=> {
                if (snapshot.exists()) {
                    const data = snapshot.val();
                    const eCO2Values = [];

                    // Extract eCO2 values
                    for (let key in data) {
                        const entry = data[key];
                        eCO2Values.push(entry.eCO2);
                    }

                    //mycallback function with extracted values
                    mycallback(eCO2Values);
                } else {
                    console.log("No data available");
                }
            }).catch((error) => {
                console.error("Error fetching data:", error);
            });
        }

        // Initial fetch and chart update
        fetchDataAndUpdateChart();

        // interval to fetch data and update chart every 3 seconds
        setInterval(fetchDataAndUpdateChart, 10000);

    //End of morris Js
    </script>

<style>
    .charts-page {
        background-image: url("{{ url_for('static', filename='img/skybg.png') }}"); 
        background-position: center;
    }

    .center-div {
        display: flex;
        justify-content: center;
    }

</style>




<body class="charts-page">

<nav class="navbar navbar-dark custom-bg-color" aria-label="label">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mx-auto" href="#">
                <img src="{{url_for('static', filename='img/logoFull1.png')}}" alt="logo" width="180"  class="rounded">
            </a>
            <div class="navbar-collapse collapse" id="navbarsExample01" style>
                <ul class="navbar-nav me-auto mb2">
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="/Sensors">Sensor</a></li>
                    <li class="nav-item"><a class="nav-link" aria-current="page" href=/Logout>Logout</a></li>                    
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card custom-card-opacity">
                    <div class="card-body custom-color2">
                        <h5 class="card-title text-center mb-4 custom-color2 display-6 fw-normal">eCO2</h5>
                        <div class="center-div">
                            <canvas id="airQualityChart" width="400" height="200"></canvas>
                        </div>
                    </div>
                </div>
                <div class="card mt-4" >
                    <div class="card-body custom-color2">
                        <h5 class="card-title text-center mb-4 custom-color2 display-6 fw-normal">Realtime Data</h5>
                        <div id="messages" class="main_container" style="background-color: transparent; text-align: center; overflow-y: auto; max-height: 400px;">
                            <!-- Sensor data will be populated here -->
                            {% for msg in data %}
                            <div class="sensor-info">
                                <p class="sensor-data">Date/Time: {{ msg.current_time1 }}, Temperature: {{ msg.temperature }}°C, eCO2: {{ msg.eCO2 }} ppm</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6"><!--Weather App Container-->
                <div class="card custom-card-opacity">
                    <div class="card">
                        <h5 class="card-title text-center mb-4 custom-color2 display-6 fw-normal">Forecast</h5>
                        <div class="search">
                            <input type="text" id="city" placeholder="  Enter vehicle location" spellcheck="false">
                            <button><img src="{{url_for('static', filename='img/search.png')}}"></button>
                        </div>
                        <div class = "error">
                            <p>Invalid City Name</p>
                        </div>
                        <div class="weather">
                            <img src="{{url_for('static', filename='img/weathericon.png')}}" class="weather-icon">
                            <h1 class="temp">17°C</h1>
                            <h2 class="city">Dublin</h2>
                        </div>
                        <div class="details">
                            <div class="col">
                                <img src="{{url_for('static', filename='img/humidity.png')}}">
                                <p class="humidity">50%</p>
                                <p>Humidity</p>
                            </div>
                            <div class="col">
                                <img src="{{url_for('static', filename='img/wind.png')}}">
                                <p class="Wind">18 Km/h</p>
                                <p>Wind Speed</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    <script>
        //Morris Js  - Weather App
        //API configuration for forecast conatiner 
        const apiKey = "9f6862b7d8a2e1df7db314a6dd6f38e6";
        const apiURL = "https://api.openweathermap.org/data/2.5/weather?units=metric&q=";
        const searchBox = document.querySelector(".search input");
        const searchBtn = document.querySelector(".search button");
        const weatherIcon  = document.querySelector(".weather-icon");

        //allows this function to run while others run
        async function checkWeather(city){//looking for city entry
            const response = await fetch(apiURL + city + `&appid=${apiKey}`);
            if(response.status == 404){
                document.querySelector(".error").style.display = "block";
                document.querySelector(".weather").style.display = "none";
            }else{
                    
            
              var wdata = await response.json();

            //Updates the values with the weather searched
            document.querySelector(".city").innerHTML = wdata.name;
            document.querySelector(".temp").innerHTML = Math.round(wdata.main.temp) + " °C";//round up the temp
            document.querySelector(".humidity").innerHTML = wdata.main.humidity + " %";
            document.querySelector(".Wind").innerHTML = wdata.wind.speed + " Km/h";
       
            //Changes weather icon depending on the weather
            if(wdata.weather[0].main == "Clouds"){
                weatherIcon.src= "{{url_for('static', filename='img/cloudy.png')}}";

            }
            else if(wdata.weather[0].main == "Clear"){
                weatherIcon.src= "{{url_for('static', filename='img/clear.png')}}";
            }
            else if(wdata.weather[0].main == "Drizzle"){
                weatherIcon.src= "{{url_for('static', filename='img/drizzle.png')}}";
            }

            else if(wdata.weather[0].main == "Rain"){
                weatherIcon.src= "{{url_for('static', filename='img/rain.png')}}";
            }
            else if(wdata.weather[0].main == "Mist"){
                weatherIcon.src= "{{url_for('static', filename='img/mist.png')}}";
            }

            document.querySelector(".weather").style.display = "block";
            document.querySelector(".error").style.display = "none";
        
        }
    }

    
    searchBtn.addEventListener("click",()=>{
    checkWeather(searchBox.value); //event listener for searchBtn
    })


    //End of weatherApp
   
    </script>
</body>  
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<footer>
    <!-- Realtime Graphe Morris JS -->
    <script> 
            var data = {
                labels: [0],
                datasets: [
                    {
                    label: 'eC02',
                    data: [0], // Initial sample data
                    backgroundColor: 'rgba(0, 255, 0, 1)', // Green
                    lineTension: 0.5,
                    borderColor: 'rgba(0, 255, 0, 1)'
                  
                }
            ]
        };

        var config = {
            type : 'line',
            data : data,
        };


        var airQualityChart = new Chart( // declare new chart
            document.getElementById('airQualityChart'), //get canavas by id and display chart
            config
        );


        //mycallback function to update the chart with new data 
        window.setInterval(mycallback,8000);

        //mycallback function to update the chart with new eCO2 
        function mycallback(eCO2Values) {
                var now = new Date();
                now = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
                var value;

                // Check if eCO2Values is defined and is an array
                if (Array.isArray(eCO2Values) && eCO2Values.length > 0) {
                    value = eCO2Values[eCO2Values.length - 1]; // y-axis limit
                } else {
                    // Handle the case when eCO2Values is empty
                    console.error("eCO2Values is empty");
                    return; // Exit the function early
                }

                if (data.datasets[0].data.length >= 10) { //if the array length is = to or greater than 10 
                    data.labels.shift();// Delete old eco2
                    data.datasets[0].data.shift();// Delete old time
                }

                data.labels.push(now);//push the time to chart
                data.datasets[0].data.push(value);//push the eCO2 to chart
                airQualityChart.update(); //Update chart
        }
        
    </script>
    <!--End of chart -->
</footer>

</html>
