<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->

<html lang="en">
<head>
    <title>Main</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nova+Square&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Styles.css')}}">
</head>
<body>

<!-- Navigation -->
<div class="main_header">
    <div class="main_menu">
        <img class="main_menuImg" src="{{url_for('static', filename='img/menu.png')}}" alt="menu" >
        <div class="main_menuOptions">
            <a href=/Login>Login</a>
            <a href=/Signup>Sign Up</a>
            <a href=/Sensors>View Sensors</a>
        </div>
    </div>
    <div class="main_logo"><img class="main_logoImg" src="{{url_for('static', filename='img/logo.png')}}" alt="logo" ></div>
</div>

<div class="main_main">
    <div class="main_container">


    </div>
</div>

</body>
</html>
