<!DOCTYPE html>

<html lang="en">
<head>
    <title>Main</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nova+Square&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Styles.css')}}">
</head>
<body>

<!-- Navigation -->
<body>

    <nav class="navbar navbar-dark custom-bg-color" aria-label="label">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mx-auto" href="#">
                <img src="{{url_for('static', filename='img/logoFull1.png')}}" alt="logo" width="180"  class="rounded">
            </a>
            <div class="navbar-collapse collapse" id="navbarsExample01" style>
                <ul class="navbar-nav me-auto mb2">
                    <li class="nav-item"><a class="nav-link" aria-current="page" href=/Login>Login</a></li>
                    <li class="nav-item"><a class="nav-link" aria-current="page" href=/Signup>Signup</a></li>
                  <!-- <li class="nav-item"><a class="nav-link" aria-current="page" href=/Sensors>Sensor Page</a></li>--> 
                </ul>
            </div>
        </div>
    </nav>
    


    <img src="{{url_for('static', filename='img/headImg2.png')}}" class="img-fluid" alt="headImg1">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="display-1 text-center mb-5 mt-5 color1 fw-normal custom-color">EirQ Solutions</h1>
            </div>
        </div>
    </div>
    <section class="about">
        <div class="container">
            <div class="row align-items-start mb-5 mt-5">
                <div class="col-lg-7  col-sm-12"> <!-- the container is divided into 12 columns, here we give 7 of the 12 columns to the text.  -->
                    <h5 class="text-wrap text-break">
                        Welcome to EirQ!<br><br><br>
                        Here at EirQ, we aim to propose a new method for public transport systems to track and monitor the environmental quality for passengers aboard each public transport vehicle. We believe that human health should come first before anything, and we strive to implement this belief through our product here.<br><br>
                    </h5>
                    <h5 class="text-wrap text-break">
                        Using air quality sensors connected to a Raspberry Pi, we have developed a software that is both advanced and user friendly for the transport systems to use to track and monitor the air quality for their passengers aboard their vehicles.<br><br>
                    </h5>
                    <h5 class="text-wrap text-break">
                        The reason we chose to use a Raspberry Pi connected to a sensor was to keep implementation costs cheap for users, and also because they are very simple and easy to set up as a user of our service. Having a simple and affordable, reliable service is one of our aims.<br><br>
                    </h5>
                </div>
                <div class="col-lg-5 col-sm-12 text-center">
                    <img src="{{url_for('static', filename='img/air.png')}}" alt="pi" class="img-fluid">
                </div>
            </div>
        </div>   
        <div class="container">
            <div class="row align-items-start mb-5 mt-5">
                <div class="col-lg-5 col-sm-12 text-center">
                    <img src="{{url_for('static', filename='img/chart.png')}}" alt="chart" class="img-fluid">
                </div>
                <div class="col-lg-7  col-sm-12">
                    <h5 class="text-wrap text-break">In order to use our service, you must first make an account using your name, email and company name. From there, you will recieve a verification email in your inbox to activate your account. You can then sign in as you please using the email and password you chose.<br><br>
                    </h5>
                    <h5 class="text-wrap text-break">Once you are logged in, you can then view the chart page, which is where your sensor info will be displayed. There are graphs to visualise the data flowing in from the sensor, and also a chart that updates live which you can scroll through.<br><br>
                    </h5>
                    <h5 class="text-wrap text-break">This page is essentially your main hub for viewing your sensor information as all the data is laid out here.
                    </h5>
                </div>
            </div>
        </div>  
        <div class="container">
            <div class="row align-items-start mb-5 mt-5">
                <div class="col-lg-7  col-sm-12">
                    <h5 class="text-wrap text-break">MilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilk
                    </h5>
                    <h5 class="text-wrap text-break">MilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilk
                    </h5>
                    <h5 class="text-wrap text-break">MilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilkMilk
                    </h5>
                </div>
                <div class="col-lg-5 col-sm-12 text-center">
                    <img src="{{url_for('static', filename='img/transport.png')}}" alt="bus" class="img-fluid">
                </div>
            </div>
        </div> 
    </section>  

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 footer-left mt-5">
                    <p class="fs-5"><strong>Erin Lee:</strong> x22353461, x22353461@student.ncirl.ie</p>
                    <p class="fs-5"><strong>Josh McGlynn:</strong> x21358616, x21358616@student.ncirl.ie</p>
                    <p class="fs-5"><strong>Morris Ouedraogo:</strong> x20461702, x20461702@student.ncirl.ie</p>
                    <p class="fs-5"><strong>Dmytro Zadorozhnyi:</strong> x21516939, x21516939@student.ncirl.ie</p>
                </div>
                <div class="col-md-6 footer-right">
                    <img src="{{url_for('static', filename='img/logo1.png')}}" alt="footer-logo" class="footer-logo rounded" height="300">
                </div>
            </div>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>

