<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Styles.css')}}">
    <title>Signup</title>
</head>

<style>
.signup-page {
    background-image: url("{{ url_for('static', filename='img/skybg.png') }}"); 
    background-position: center;
}
</style>

<body class="signup-page">
    <nav class="navbar navbar-dark custom-bg-color" aria-label="label">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="true" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mx-auto" href="#">
                <img src="{{url_for('static', filename='img/logoFull1.png')}}" alt="logo" width="180"  class="rounded">
            </a>
            <div class="navbar-collapse collapse" id="navbarsExample01" style>
                <ul class="navbar-nav me-auto mb2">
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="/Dashboard">Dashboard</a></li>
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="/Logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body custom-color2">
                        <h5 class="card-title text-center mb-4 custom-color2 display-6 fw-normal">Order</h5>

                        <form action="/orderSubmitted">
                            <!--Quantity of Sensors-->
                            <div class="mb-3">
                                <label for="quantity" class="form-label ">Quantity:</label>
                                <div class="input-group ">
                                    <select class="form-select " id="quantity">
                                        <option value="01">1</option>
                                        <option value="02">2</option>
                                        <option value="03">3</option>
                                        <option value="04">4</option>
                                        <option value="05">5</option>
                                        <option value="06">6</option>
                                        <option value="07">7</option>
                                        <option value="08">8</option>
                                        <option value="09">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Forename -->
                            <div class="mb-3">
                                <label for="forename" class="form-label">Forename:</label>
                                <input type="text" class="form-control" id="forename" required>
                            </div>
                            <!-- Surname -->
                            <div class="mb-3">
                                <label for="surname" class="form-label">Surname:</label>
                                <input type="text" class="form-control" id="surname" required>
                            </div>
                            <!-- Company Name -->
                            <div class="mb-3">
                                <label for="company" class="form-label">Company Name:</label>
                                <input type="text" class="form-control" id="company">
                            </div>
                            <!-- Address Line 1 -->
                            <div class="mb-3">
                                <label for="address1" class="form-label">Address Line 1:</label>
                                <input type="text" class="form-control" id="address1" required>
                            </div>
                            <!-- Address Line 2 -->
                            <div class="mb-3">
                                <label for="address2" class="form-label">Address Line 2:</label>
                                <input type="text" class="form-control" id="address2">
                            </div>
                            <!-- Postcode -->
                            <div class="mb-3">
                                <label for="postcode" class="form-label">Postcode:</label>
                                <input type="text" class="form-control" id="postcode" required>
                            </div>
                            <div class="row mb-3">
                                <!-- Card Owner Name -->
                                <div class="col-md-6">
                                  <label for="owner" class="form-label">Cardholder Name:</label>
                                  <input type="text" class="form-control" id="owner" name="owner" pattern="[A-Za-z ]+" placeholder="Card Owner Name" required>
                                </div>
                                <!-- CVV Code -->
                                <div class="col-md-6">
                                  <label for="cvv" class="form-label">CVV</label>
                                  <input type="text" class="form-control" id="cvv" name="cvv" pattern="\d{3}" placeholder="CVV" required>
                                </div>
                              </div>
                              
                              <div class="mb-3">
                                <!-- Card Number -->
                                <label for="cardNumber" class="form-label">Card Number</label>
                                <input type="text" class="form-control" id="cardNumber" name="cardNumber" pattern="\d{16}" placeholder="Card Number" required>
                              </div>
                              
                              <div class="row mb-3">
                                <!-- Expiration Date -->
                                <div class="col-md-6">
                                  <label for="expirationDate" class="form-label">Expiration Date</label>
                                  <div class="input-group">
                                    <select class="form-select" id="expirationMonth">
                                      <!-- Month options -->
                                        <option value="01">January</option>
                                        <option value="02">February</option>
                                        <option value="03">March</option>
                                        <option value="04">April</option>
                                        <option value="05">May</option>
                                        <option value="06">June</option>
                                        <option value="07">July</option>
                                        <option value="08">August</option>
                                        <option value="09">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                      </select>
                                    </select>
                                    <select class="form-select" id="expirationYear">
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                        <option value="2026">2026</option>
                                        <option value="2027">2027</option>
                                        <option value="2028">2028</option>
                                        <option value="2029">2029</option>
                                        <option value="2030">2030</option>
                                        <option value="2031">2031</option>
                                        <option value="2032">2032</option>
                                        <option value="2033">2033</option>
                                    </select>
                                  </div>
                                </div>
                                <!-- Card Type Logos -->
                                <div class="col-md-6 d-flex justify-content-center align-items-center">
                                    <img src="static/img/visa.png" alt="Visa" class="img-fluid" style="max-width: 50px; max-height: 30px;">
                                    <img src="static/img/mastercard.png" alt="MasterCard" class="img-fluid" style="max-width: 50px; max-height: 30px;">
                                    <img src="static/img/AMEX.png" alt="AMEX" class="img-fluid" style="max-width: 50px; max-height: 30px;">
                                  </div>
                              </div>
                            <!-- Submit Button -->
                            <div class="d-grid">
                                <button type="submit" class="btn btn-success">Submit Order</button>
                            </div>
                            
                        </form>
               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>
