<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signup</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nova+Square&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Styles.css')}}">
</head>
<body>
<div class="signup_header">
    <div class="signup_menu">
        <div class="signup_home">
            <a class="signup_homeBut" href="/"><img class="signup_homeImg" src="{{url_for('static', filename='img/home.png')}}" alt="home"></a>
        </div>
    </div>
</div>
<div class="signup_main">
    <div class="signup_container">
        <img class="signup_logo" src="{{url_for('static', filename='img/logo.png')}}" alt="logo">
        <div class="signup_signup-container">

            <form class="signup_signup-form">
                <label for="business-name">Business Name:</label>
                <input type="text" id="business-name" name="business-name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </form>
        </div>
        <button type="submit">Signup</button>
    </div>
</div>
</body>
</html>

