<!DOCTYPE html>
<html lang="en">
<head>
    <title>Verification</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Nova+Square&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/Styles.css')}}">
</head>
<body>
    <div class="main_header">
        <div class="main_menu">
            <div class="main_home">
                <a class="main_homeBut" href="/"><img class="verify" src="{{url_for('static', filename='img/home.png')}}" alt="home"></a>
            </div>
        </div>
    </div>
        <div class="main_logo" src="{{url_for('static', filename='img/logo.png')}}" alt="logo"></div>
    <div class="main_main">
         <div class="main_container">
             <div class="main_main-container">
                <div class="info_paragraph">

                <h1>Verify Email</h1>
                <p>An email has been sent to {{ email }}. Please check your inbox to verify your email address. Refresh and go to login when Verified </p>
            </div>
        </div>
    </div>
</body>
</html>